:root{
--Neutral-0: hsl(0, 0%, 100%);
--Neutral300: hsl(252, 6%, 83%);
--Neutral500: hsl(245, 15%, 58%);
--Neutral700: hsl(245, 19%, 35%);
--Neutral900: hsl(248, 70%, 10%);
--Orange500: hsl(7, 88%, 67%);
--Orange700: hsl(7, 71%, 60%);
--Gradient: hsl(7, 86%, 67%),hsl(0, 0%, 100%)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../../images/background-desktop.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: var(--Neutral-0); */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}
.container-fluid{
    max-width:700px;
    width: 90%;
    padding: 20px 0;

}

.title h1,p{
    color: var(--Neutral-0);
}
.title p{
    /* font-size: 12px; */
    color: var(--Neutral300);
}
label{
    color: var(--Neutral300);
}
.infos-image{
    color: var(--Neutral500);
   font-size: 10px;
}

.generate{
    width: 100%;
    background-color: var(--Orange700);
    color: var(--Neutral900);
    font-weight: 700;
    border: none;
}

.generate:hover{
    background-color: var(--Orange700);
}
.form-control{
    background-color: transparent;
    border: 2px solid var(--Neutral700);
    outline: none;
    cursor: pointer;
}
.form-control:focus{
    background-color: transparent;
    border: 2px solid var(--Neutral700);
}
.form-control:hover{
    background-color: var(--Neutral700);
}

#upload-label{
    cursor: pointer;
    min-height: 30vh;
    border: 2px dashed var(--Neutral700);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    color: var(--Neutral700);
    border-radius: 10px;
}

#upload-label:hover{
    background-color: var(--Neutral700);
}
#upload-label img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
#upload{
    display: none;
}

#upload-label span{
    font-size: 10px;
    color: var(--Neutral-0);
}
.content_ticket{
min-height: 100vh;
display: flex;
width: 100%;
flex-direction: column;
justify-content: center;
/* align-items: center; */
}
.confirm_ticket{
    padding: 20px 30px;
    background: url(../../images/pattern-ticket.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right  bottom ;
   /* align-self: center; */
    max-width: 500px;
    /* height: ; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.date_event{
    font-size: 12px;
    color: var(--Neutral500);
    margin-top: 20px;
}


.part-ticket .ticket_name{
    background: linear-gradient(to right, var(--Gradient));
    --webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.ticket_email{
    color: var(--Orange500);
}
.infos_ticket{
    margin-top: 2rem;
    color: var(--Neutral-0);
}

.img_ticket{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
}
@media screen and (max-width: 600px) {
    .confirm_ticket{
        background-size: cover;
        background-position: center right;
        width: 100%;
    }
}